* {
    margin: 0;
    padding: 0;
}

@import 'media';
@color_red: rgb(204, 0, 0);
@color_gray: rgb(217, 217, 212);
@color_white: rgb(255, 255, 255);
@color_black: rgb(0, 0, 0);
@font_size_footer: 16px;
@font_default: 'Roboto';
@font_tel: 'Consolas';
@pad: 20px; //100px
@font_name: 36px;
@size_button: 67px;
@tablet-strict_margin: 50px;
@large_margin: 150px;
@background_ftr_hdr: #f2f2ed;
@color_line: rgb(217, 217, 212);

html,
body {
    min-height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.page {
    max-width: 1400px;
    margin: 0 auto;
    font-family: @font_default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //    align-items: center;

    @media @phone-strict {
        width: 375px;

        .page {
            max-height: 667px;
        }
    }
    @media @tablet-strict {
        width: 768px;

        .page {
            max-height: 1024px;
        }
    }
    @media @large {
        max-width: 1920px;
    }
}

.content {
    //max-width: 1400px;
    padding-bottom: 50px;
    //max-width: 1920px;
    //margin: auto;
}

//
// Name-logotype-phone
//
.header {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: @color_red;
    padding: 17px 0 10px;

    &__number {
        font-family: @font_tel;
        text-align: left;
        width: 200px;
    }

    &__logo {
        text-align: right;
        width: 50px;
        height: auto;
        padding-left: 12px;
        padding-top: 2px;
    }

    &__phone {
        text-align: right;
        font-family: @font_default;
        letter-spacing: .4px;
    }

    @media @phone-strict {
        padding: 10px 0;
        font-size: 12px;
        height: 30%;

        &__phone {
            margin-right: 10px;
            font-size: 12px;
        }

        &__number {
            width: 55px;
            margin-left: 10px;
        }
    }
    @media @tablet-strict {
        font-size: 16px;
        height: 30%;

        &__phone {
            margin-right: @tablet-strict_margin;
        }

        &__number {
            width: 20%;
            margin-left: @tablet-strict_margin;
        }
    }
}

//reduced the size of the logo
.logo_img {
    width: 48px;
    @media @phone-strict {
        width: 20px;
    }
    @media @tablet-strict {
        width: 25px;
    }
}

//
//navigation and search menu
//
.h-menu{
    width: 100%;
    background-color: @background_ftr_hdr;
    border-bottom: 1px solid @color_line;
    border-top: 1px solid @color_line;
}

.h-menu-wrapper {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    height: 50px;
    margin: 3px auto;

    &__menu {
        //width: 350px;
        text-align: left;
        font-family: @font_default;
        padding: 10px 0;
        @media @phone-strict {
            margin-left: 10px;
        }
        @media @tablet-strict {
            margin-left: @tablet-strict_margin;
        }
    }

    &__search {
        height: 36px;
        display: flex;
        align-items: center;
        border: 1px solid rgb(216, 217, 212);
        background-color: @color_white;
    }

    @media @phone-strict {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 12px;
        height: 60px;

        &__search {
            margin-left: 10px;
            margin-bottom: 5px;
            width: 280px * .7;
            height: 40px * .5;
        }
    }

    @media @tablet-strict {
        font-size: 14px;
        display: flex;
        align-items: center;

        &__search {
            margin-right: @tablet-strict_margin;
        }
    }
}

.menu {
    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        margin-right: 15px;
    }

    &__link {
        margin-right: 5px;
        color: @color_red;
        text-decoration: underline;
    }
}

.menu__link:focus {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.search__text {
    border: none;
    outline: none;
    //-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 254px; /* Ширина поля */
    vertical-align: middle;
}

.search__img {
    //padding-top: 5px;
    width: 280px - 254px;
    height: 60%;
    @media @phone-strict {
        opacity: 0;
    }
}

.breadcrumbs {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 16px;
    padding: 44px 0 0;
    @media @phone-strict {
        font-size: 12px;
        margin-left: -5px;

        &__list {
            //margin-left: 10px;
        }
    }
    @media @tablet-strict {
        font-size: 14px;
        margin: 15px 0 0;
    }
}

.breadcrumbs-menu {
    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        margin-right: 5px;
    }

    &__link {
        color: @color_red;
        text-decoration: underline;
    }
    @media @phone-strict {
        margin-left: 5%;
    }

    @media @tablet-strict {
        margin-left: @tablet-strict_margin;
    }
}

.breadcrumbs-menu__link:focus {
    color: @color_black;
    text-decoration: none;
}

//
// main part

//
// product picture
//
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1400px;
    margin: 20px auto;

    &__img {
        text-align: center; //// расположение картинки в центре блока
    }

    &__info {
        font-family: @font_default;
        padding-left: 63px;
        margin-top: -10px;
    }
    @media @phone-strict {
        margin: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__img {
            //margin-left: 10px;
            text-align: left; //// расположение картинки в центре блока
        }

        &__info {
            display: block;
            padding-left: 0;
            margin-top: 10px;
            //  background-color: aquamarine;
        }
    }

    @media @tablet-strict {
        margin: 3% @tablet-strict_margin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__info {
            padding-left: 10px;
        }
    }
}

.product__tshirt {
    text-align: center;
    max-width: 698px;
    //min-height: 698px;
    @media @phone-strict {
        max-width: 60%;
        height: auto;
    }
    @media @tablet-strict {
        width: 400px;
    }
}

.info {
    &__name {
        font-size: 36px;
        color: @color_black;
        font-weight: bold;
        text-align: left;
        padding: 0 3px;
        letter-spacing: .2px;
        // position: relative;
        @media @phone-strict {
            font-size: 20px;
        }
        @media @tablet-strict {
            font-size: 24px;
        }
    }

    &__composition {
        font-size: 16px;
        letter-spacing: .2px;
        color: @color_black;
        padding: 6px 4px 0;
        max-width: 690px;
        min-height: 32px;
        @media @phone-strict {
            font-size: 12px;
            width: 300px;
        }
        @media @tablet-strict {
            font-size: 12px;
        }
    }

    &__price {
        font-family: @font_default;
        padding-top: 27px;
        font-weight: bold;
        color: @color_red;
        font-size: 36px;
        letter-spacing: .2px;
        @media @phone-strict {
            padding-top: 10px;
            font-size: 28px;
        }
        @media @tablet-strict {
            font-size: 32px;
        }

        &_currency {
            font-family: @font_tel;
            font-size: 40px;
            font-weight: bold;
            @media @phone-strict {
                font-size: 32px;
            }
            @media @tablet-strict {
                font-size: 32px;
            }
        }
    }

    &__size-text {
        padding: 21px 2px 0;
        color: @color_black;
        font-size: 16px;
        @media @phone-strict {
            padding-top: 10px;
            font-size: 12px;
        }
        @media @tablet-strict {
            font-size: 12px;
        }
    }

    &__size {
        display: flex;
        margin-left: 2px;
    }

    &__color-text {
        padding: 33px 2px 0;
        color: @color_black;
        font-size: 16px;
        @media @phone-strict {
            padding-top: 10px;
            font-size: 12px;
        }
        @media @tablet-strict {
            font-size: 12px;
        }
    }

    &__color {
        display: flex;
        align-items: flex-end;
        margin-left: 2px;
    }

    &__buy {
        margin-top: 42px;
        margin-left: 2px;
        width: @size_button*3;
        height: @size_button + 10px;
        color: @color_white;
        border: 1px solid @color_red;
        background-color: @color_red;
        font-size: 30px;
        letter-spacing: .7px;
        @media @phone-strict {
            width: 37px * 9;
            height: 37px;
            font-size: 24px;
        }

        &_btn {
            padding-top: 8px;
            display: block;
            text-align: center;
            height: 100%;
            color: @color_white;
        }
    }

    &__add-to-wishlist {
        margin: 42px 5px 0;
        width: 200px;
        display: flex;
        //justify-content: flex-start;
        align-items: center;

        &__defer {
            padding-left: 20px;
        }
    }
}

.size__item {
    margin-top: 11px;
    margin-right: 9px;
    padding-top: 8px;
    width: @size_button - 2px;
    height: @size_button - 10px;
    text-align: center;
    border: 1px solid @color_black;
    background-color: #fffafb;
    font-size: 36px;
    color: @color_black;
    list-style-type: none;
    @media @phone-strict {
        width: 37px;
        height: 37px;
        padding-top: 0;
        font-size: 28px;
    }
    @media @tablet-strict {
        //padding-top: 5px;
        //font-size: 28px;
    }
}

.color{
    &__size {
        margin-top: 13px;
        margin-right: 9px;
        width: @size_button - 2px;
        height: @size_button - 2px;
        border: 1px solid @color_black;
        list-style-type: none;
        @media @phone-strict {
            width: 37px;
            height: 37px;
            padding-top: 0;
            font-size: 28px;
        }
        @media @tablet-strict {
            //   font-size: 12px;
        }
    }

    &_white {
        background-color: #fffafb;
    }

    &_yellow {
        background-color: #e3d95e;
    }

    &_green {
        background-color: #a5af96;
    }
}

.js-sizeProduct_active,
.js-color_active {
    border: 1.5px solid @color_red;
}

.add-to-wishlist {
    &__img {
        opacity: .5;
        width: 25px;
    }

    &__defer {
        font-size: 16px;
        color: rgb(153, 153, 153);
        padding-left: 10px;
        text-decoration: underline;
    }
}

//
//FOOTER
//
.footer {
    margin-top: 67px;
    // width: 1600px;
    //  height: 1473px;
    font-family: @font_default;
    background-color: @background_ftr_hdr;
    border-top: 1px solid @color_line;

    @media @phone-strict {
        width: 375px;
    }

    &__wrapper{
        max-width: 1400px;
        margin: 0 auto;
    }

    &__page {
        display: flex; // на пк элементы горизонтально
        justify-content: space-between;
        padding-bottom: 20px;

        @media @phone-strict {
            width: 375px;
            height: auto;
            flex-direction: column; // на телефоне элементы вертикально
            align-items: stretch;
        }
    }

    &__service {
        width: 370px;
    }

    &__about-us {
        margin-left: -45px;
        width: 320px;
        @media @phone-strict {
            width: 280px;
        }
    }

    &__info {
        width: 400px;
        @media @phone-strict {
            width: 360px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media @phone-strict {
            flex-direction: row;
            justify-content: space-around;
            height: 30px;
        }
    }

    &__line {
        margin-top: 41px;
        color: @color_black;
        opacity: .5;
        @media @phone-strict {
            width: 330px;
        }
    }

    &__end {
        font-size: 14px;
        margin-top: 25px;
        padding-bottom: 20px;
        line-height: 2;
        @media @phone-strict {
            width: 375px;
        }
    }
}

//.block-ftr__

.block-ftr{
    margin-top: 55px;
    line-height: 1.5;

    &__header {
        color: @color_black;
        font-weight: bold;
        font-size: @font_size_footer;
        text-align: left;
        margin-bottom: 17px;
        @media @phone-strict {
            font-size: 80%;
            text-align: center;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        font-size: 14px;
        color: @color_black;
        text-align: left;
        @media @tablet-strict {
            font-size: @font_size_footer - 1px;
        }
    }

    &__column {
        column-count: 2;
        column-gap: 0;
    }
}

.footer__info,
.footer__social {
    line-height: 2;
    margin-top: 65px;
}

.info__link,
.footer__social {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons__img {
    width: 40px;
}

.social {
    &__icon {
        width: 32px;
        margin-bottom: 6px;

        &_facebook {
            width: 15px;
            padding-top: 0;
        }

        &_twitter {
            padding-top: 8px;
        }

        &_instagram {
            padding-top: 8px;
        }
    }
}

.link {
    padding-left: 20px;
    @media @phone-strict {
        padding-left: 0;
    }

    &__delivery {
        display: flex;
        align-items: flex-start;
    }

    &__gift {
        height: 30px;
        padding-left: 16px;
        display: flex;
        align-items: flex-start;
    }

    &__promotion {
        height: 30px;
        padding-left: 22px;
        display: flex;
        align-items: flex-start;
    }
}

////задаем размер иконок в футере
.delivery__img {
    width: 46px;
}

.gift__img {
    width: 28px;
}

.prom__img {
    width: 22px;
}

//////////

//////выравнивание трертьей колонки с иконками

.delivery__text,
.gift__text,
.prom__text {
    margin-left: 10px;
    height: 30px;
}

/////////

