* {
    margin: 0;
    padding: 0;
}

@import 'media';
@color_red: rgb(204, 0, 0);
@color_gray: rgb(217, 217, 212);
@color_white: rgb(255, 255, 255);
@color_black: rgb(0, 0, 0);
@font_size_footer: 16px;
@font_default: 'Roboto';
@font_tel: 'Consolas';
@pad: 20px; //100px
@font_name: 36px;
@size_button: 67px;
@tablet-strict_margin: 50px;
@large_margin: 150px;
@background_ftr_hdr: #f2f2ed;
@color_line: rgb(217, 217, 212);

html,
body {
    height: 100%;
    width: 100%;
}

//.header, .h-menu, .breadcrumbs,.product, .footer {display: block}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

div {
    display: block;
}

.content {
    padding-bottom: 50px;
}

.page {
    width: 1600px;
    height: 1473px;
    max-width: 1920px;
    font-family: @font_default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media @phone-strict {
        width: 375px;

        .page {
            max-height: 667px;
        }
    }
    @media @tablet-strict {
        width: 768px;

        .page {
            max-height: 1024px;
        }
    }
    @media @large {
        max-width: 1920px;
    }
}

//
//Название-логтип-телефон
//
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: @font_tel;
    font-size: 24px;
    font-weight: bold;
    color: @color_red;
    width: 100%;
    padding: 19px 2px 10px;

    &__number {
        text-align: left;
        //   margin-left: 100px;
        width: 200px;
        margin-left: 100px;
    }

    &__logo {
        text-align: right;
        width: 50px;
        height: auto;
        padding-left: 10px;
    }

    &__phone {
        text-align: right;
        margin-right: 100px;
        font-family: @font_default;
        letter-spacing: .4px;
    }
    @media @phone-strict {
        padding: 10px 0;
        font-size: 12px;
        height: 30%;

        &__phone {
            margin-right: 10px;
            font-size: 12px;
        }

        &__number {
            width: 55px;
            margin-left: 10px;
        }
    }
    @media @tablet-strict {
        font-size: 16px;
        height: 30%;

        &__phone {
            margin-right: @tablet-strict_margin;
        }

        &__number {
            width: 20%;
            margin-left: @tablet-strict_margin;
        }
    }
}

//размер логотипа уменьшили
.logo_img {
    width: 48px;
    @media @phone-strict {
        width: 20px;
    }
    @media @tablet-strict {
        width: 25px;
    }
}

//
//Меню навигации и поиска
//
.h-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    margin: 3px 2px 0;
    background-color: @background_ftr_hdr;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid @color_line;
    border-top: 1px solid @color_line;

    &__search {
        margin-right: 100px;
        width: 280px;
        height: 40px;
        display: flex;
        align-items: stretch; // растягиваем инпуты по длине блока поиска
        border: 1px solid rgb(216, 217, 212);
    }

    @media @phone-strict {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 12px;
        height: 60px;

        &__search {
            margin-left: 10px;
            margin-bottom: 5px;
            width: 280px * .7;
            height: 40px * .5;
        }
    }

    @media @tablet-strict {
        font-size: 14px;
        display: flex;
        align-items: center;

        &__search {
            margin-right: @tablet-strict_margin;
        }
    }
}

.menu {
    width: 350px;
    text-align: left;
    font-family: @font_default;
    margin-left: 100px;
    padding: 10px 0;
    @media @phone-strict {
        margin-left: 10px;
    }
    @media @tablet-strict {
        margin-left: @tablet-strict_margin;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        margin-right: 15px;
    }

    &__link{
        margin-right: 5px;
        color: @color_red;
        text-decoration: underline;
    }
}

.menu__link:focus {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.search_input {
    border: none;
    outline: none;
    //-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 234px; /* Ширина поля */
    vertical-align: middle;
}

.search_img {
    width: 280px - 234px;
    height: auto;
    background-color: @color_white;
}

////
//ХЛЕБНЫЕ крошки
//
.breadcrumbs {
    margin-left: 100px;
    font-size: 16px;
    padding: 42px 0 0;
    width: 100%;
    @media @phone-strict {
        font-size: 12px;
        margin-left: -5px;
        padding: 10px 0;

        &__list {
            //margin-left: 10px;
        }
    }
    @media @tablet-strict {
        font-size: 14px;
        margin: 15px 0 0;
    }
}

.breadcrumbs-menu {
    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        margin-right: 5px;
    }

    &__link{
        color: @color_red;
        text-decoration: underline;
    }
    @media @phone-strict {
        margin-left: 5%;
    }

    @media @tablet-strict {
        margin-left: @tablet-strict_margin;
    }
}

.breadcrumbs-menu__link:focus{
    color: @color_black;
    text-decoration: none;
}

//
//ОСНОВНАЯ ЧАСТЬ СТРАНИЧКИ

//
//КАРТИНКА ПРОДУКТА
//
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0 0 100px;

    &__img {
        text-align: center; //// расположение картинки в центре блока
    }

    &__info {
        font-family: @font_default;
        padding-left: 63px;
        margin-top: -10px;
    }
    @media @phone-strict {
        margin: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__img {
            //margin-left: 10px;
            text-align: left; //// расположение картинки в центре блока
        }

        &__info {
            display: block;
            padding-left: 0;
            margin-top: 10px;
            //  background-color: aquamarine;
        }
    }

    @media @tablet-strict {
        margin: 3% @tablet-strict_margin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__info {
            padding-left: 10px;
        }
    }
}

// Картинка товара
.product__img_pict {
    text-align: center;
    width: 698px;
    height: 698px;
    @media @phone-strict {
        width: 60%;
        height: auto;
    }
    @media @tablet-strict {
        width: 400px;
    }
}

.info__name {
    font-size: 36px;
    color: @color_black;
    font-weight: bold;
    text-align: left;
    letter-spacing: .4px;
    // position: relative;
    @media @phone-strict {
        font-size: 20px;
    }
    @media @tablet-strict {
        font-size: 24px;
    }
}

.info__composition {
    //position: relative;
    font-size: 16px;
    color: @color_black;
    padding: 6px 4px 0;
    letter-spacing: .2px;
    width: 622px;
    height: 32px;
    @media @phone-strict {
        font-size: 12px;
        width: 300px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.info__price {
    padding-top: 29.9px;
    font-weight: bold;
    color: @color_red;
    font-size: 36px;
    letter-spacing: .2px;
    @media @phone-strict {
        padding-top: 10px;
        font-size: 28px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.info__size-text {
    padding: 19px 2px 0;
    color: @color_black;
    font-size: 16px;
    @media @phone-strict {
        padding-top: 10px;
        font-size: 12px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.info__size {
    display: flex;
    margin-left: 2px;
}

.size__b-size {
    margin-top: 11px;
    margin-right: 9px;
    padding-top: 8px;
    width: @size_button - 2px;
    height: @size_button - 10px;
    text-align: center;
    border: 1px solid @color_black;
    background-color: #fffafb;
    font-size: 36px;
    color: @color_black;
    list-style-type: none;
    //  height: 100%;
    @media @phone-strict {
        width: 37px;
        height: 37px;
        padding-top: 0;
        font-size: 28px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.info__color-text {
    padding: 31px 2px 0;
    color: @color_black;
    font-size: 16px;
    @media @phone-strict {
        padding-top: 10px;
        font-size: 12px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.info__color {
    display: flex;
    align-items: flex-end;
    margin-left: 2px;
}

.color__size {
    margin-top: 13px;
    margin-right: 9px;
    width: @size_button - 2px;
    height: @size_button - 2px;
    border: 1px solid @color_black;
    list-style-type: none;
    @media @phone-strict {
        width: 37px;
        height: 37px;
        padding-top: 0;
        font-size: 28px;
    }
    @media @tablet-strict {
        font-size: 12px;
    }
}

.color__1 {
    background-color: #fffafb; // белый
}

.color__2 {
    background-color: #e3d95e; // желтый
}

.color__3 {
    background-color: #a5af96; // зеленый
}

.size__b-size_active,
.color__size_active {
    border: 1.5px solid @color_red;
}

.info__buy {
    margin-top: 44px;
    margin-left: 2px;
    width: @size_button*3;
    height: @size_button + 10px;
    color: @color_white;
    border: 1px solid @color_red;
    background-color: @color_red;
    font-size: 30px;
    letter-spacing: .7px;
    @media @phone-strict {
        width: 37px * 9;
        height: 37px;
        font-size: 24px;
    }
}

.info__buy_btn {
    padding-top: 8px;
    display: block;
    text-align: center;
    height: 100%;
    color: @color_white;
}

.info__heart {
    margin: 40px 5px 0;
    width: 200px;
    display: flex;
    //justify-content: flex-start;
    align-items: center;

    &__defer {
        padding-left: 20px;
    }
}

.heart__img {
    width: 25px;
}

.heart__defer {
    font-size: 16px;
    color: rgb(153, 153, 153);
    padding-left: 10px;
    text-decoration: underline;
}

//
//FOOTER
//
.footer {
    margin-top: 67px;
    width: 1600px;
    height: 1473px;
    background-color: @background_ftr_hdr;
    border-top: 1px solid @color_line;

    &__page {
        display: flex; // на пк элементы горизонтально
        justify-content: space-between;
        padding-bottom: 20px;

        @media @phone-strict {
            width: 375px;
            height: auto;
            flex-direction: column; // на телефоне элементы вертикально
            align-items: stretch;
        }
    }
}

///////задаем размеры блоков внутри page части
.footer__service {
    width: 340px;
}

.footer__about-us {
    margin-left: -15px;
    width: 320px;
    @media @phone-strict {
        width: 280px;
    }
}

.footer__info {
    width: 400px;
    @media @phone-strict {
        width: 360px;
    }
}

///////////////////////////////////

/////делаем отступы слева и справа у футера
.footer__service,
.footer__end,
.footer__line {
    margin-left: 100px;
    @media @tablet-strict {
        margin-left: @tablet-strict_margin;
    }
}

.footer__service,
.footer__end,
.footer__line,
.footer__about-us,
.footer__info,
.footer__social {
    @media @phone-strict {
        margin-left: 20px;
    }
}

.footer__social,
.footer__end,
.footer__line {
    margin-right: 100px;
    @media @phone-strict {
        margin-right: 20px;
    }
    @media @tablet-strict {
        margin-right: @tablet-strict_margin;
    }
}
/////////////////////////
.service__header,
.about-us__header {
    color: @color_black;
    font-weight: bold;
    font-size: @font_size_footer;
    text-align: left;
    margin-bottom: 17px;
    @media @phone-strict {
        font-size: 80%;
        text-align: center;
    }
}

.footer__service,
.footer__about-us {
    margin-top: 55px;
    line-height: 1.5;
}

.footer__info,
.footer__social{
    line-height: 2;
    margin-top: 70px;
}

.info__link,
.footer__social{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block__list,
.part__list {
    column-count: 2;
    list-style-position: inside;
    list-style-type: decimal;
}

.block__item,
.part__item {
    list-style-type: none;
}

.block__link,
.part__link,
.del__text,
.gift__text,
.prom__text {
    font-size: 14px;
    color: @color_black;
    text-align: left;
    @media @tablet-strict {
        font-size: @font_size_footer - 1px;
    }
}

.icons__img {
    width: 40px;
}


/// для блока с кнопками соц сетей делаем вертикально на пк
/// на малых экранах горизонтально
.footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media @phone-strict {
        flex-direction: row;
        justify-content: space-around;
        height: 30px;
    }
}

.social__icon {
    width: 32px;
    margin-bottom: 6px;
}

.social__icon_facebook {
    width: 15px;
}

////задаем размер иконок в футере
.del__img {
    width: 46px;
}

.gift__img {
    width: 29px;
}

.prom__img {
    width: 22px;
}

//////////

//////выравнивание трертьей колонки с иконками
.info__link{
    padding-left: 20px;
    @media @phone-strict {
        padding-left: 0;
    }
}

.info__delivery {
    display: flex;
    align-items: flex-start;
}

.link__gift {
    padding-left: 18px;
}

.link__promotion {
    padding-left: 22px;
}

.del__text,
.gift__text,
.prom__text {
    margin-left: 10px;
    height: 20px;
}

.del__text {
    padding-left: 4px;
    margin-top: -2px;
}

.gift__text{
    margin-top: -5px;
}

.prom__text {
    padding-left: 2px;
}

/////////
.footer__end {
    font-size: 14px;
    margin-top: 25px;
    padding-bottom: 20px;
    line-height: 2;
    @media @phone-strict {
        width: 375px;
    }
}

.footer__line {
    margin-top: 18px;
    color: @color_black;
    opacity: .5;
    @media @phone-strict {
        width: 330px;
    }
}

